{% include 'includes/header.html.twig' %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ title | raw }}</h1>
    <p>Report run across {{ domain }}<br/>
      {{ 'now' | date('Y-m-d h:i a (T)') }}
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-sm-12">
      <h2>{{ domain }}</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Check</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            {% if result.status %}
              <tr class="success">
                <th>{{ result.title }}</th>
                <td>{{ result.success | raw }}</td>
              </tr>
            {% else %}
              <tr class="danger">
                <th>{{ result.title }}</th>
                <td>
                  <p>{{ result }}</p>
                  <p><em>{{ result.description | raw }}</em></p>
                  <div class="panel panel-default">
                    <div class="panel-heading">Remediation</div>
                    <div class="panel-body">
                      <p>{{ result.remediation | raw }}</p>
                    </div>
                  </div>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>

  <hr>

  <footer>
    <p>&copy; Drutiny {{ 'now' | date('Y') }}</p>
  </footer>
</div> <!-- /container -->

{% include 'includes/footer.html.twig' %}
