{% include 'includes/header.html.twig' %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ profile.title }}</h1>
    <p>Report run across {{ sites | length }} sites<br/>
      {{ 'now' | date('Y-m-d h:i a (T)') }}
    </p>
  </div>
</div>

<div class="container">
  <!-- Start Filters -->
  <div class="row display-filters">
    <div class="col-sm-12">
      <a href="#" id="show-filters" class="btn btn-default">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> <strong>Show filters</strong>
      </a>
      <fieldset class="display-filter-toggle" style="display: none;">
        <legend><h2>Filters <small>(and)</small></h2></legend>
        <div class="row">
          <div class="col-sm-4">
            <label for="filter-filter-domains">Domain</label>
            <select id="filter-filter-domains">
              <option name="na" value="na"></option>
              {% for id, site in sites %}
                <option value="{{ id }}">{{ site.domain | lower }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-4">
            <label for="filter-filter-status">Status</label>
            <select id="filter-filter-status">
              <option value="na"></option>
              <option value="success">Success</option>
              <option value="warning">Warning</option>
              <option value="danger">Error</option>
            </select>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary" id="filter-submit">Filter</button> &nbsp; <button class="btn btn-secondary" id="filter-clear">Clear</button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <!-- End Filters -->

  <!-- Sites Table -->
  <div class="row">

    <div class="col-sm-12">
      <h2>Sites</h2>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Site ID</th>
            <th>Check</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for id, site in sites %}
            {% for index, result in site.results %}
              {% if result.status <= 0 %}
                {% set class = 'success' %}
              {% elseif result.status == 1 %}
                {% set class = 'warning' %}
              {% else %}
                {% set class = 'danger' %}
              {% endif %}
              <tr class="filterable filter-filter-domains-{{ id }} filter-filter-status-{{ class }}">
                {% if index == 0 %}
                  <th rowspan="{{ site.results | length }}">{{ site.domain }}</th>
                  <th rowspan="{{ site.results | length }}">{{ id }}</th>
                {% endif %}
                <td class="{{ class }}">
                  {{ result.title }}
                </td>
                <td class="{{ class }}">
                  {{ result | filterXssAdmin }}
                  {% if result.status > 1 %}
                    <p><em>{{ result.description }}</em></p>
                    <div class="panel panel-default">
                      <div class="panel-heading">Remediation</div>
                      <div class="panel-body">
                        <p>{{ result.remediation | filterXssAdmin }}</p>
                      </div>
                    </div>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>

  <hr>

  <footer>
    <p>&copy; Drutiny {{ 'now' | date('Y') }}</p>
  </footer>
</div> <!-- /container -->

{% include 'includes/footer.html.twig' %}

<script type="text/javascript">
  $(document).ready(function() {
    $("#show-filters").click(function() {
      $(".display-filter-toggle").toggle();
      if ($("#show-filters strong").text() == "Hide filters") {
        $("#show-filters strong").text("Show filters");
      }
      else {
        $("#show-filters strong").text("Hide filters");
      }
      return false;
    });

    $("#filter-clear").click(function() {
      $("[id^='filter-filter-']").each(function () {
        $(this).val("na")
      });
      $(".filterable").each(function() {
        var target = $(this);
        target.show();
        target.find('td').show();
      });
    });

    // Filter button.
    $("#filter-submit").click(function() {

      // Domain filter
      var domain_filter = $('#filter-filter-domains').val();
      if (domain_filter != 'na') {
        var filter = '.filter-filter-domains-' + domain_filter;
        $(".filterable").each(function() {
          var target = $(this);
          if (target.is(filter)) {
            target.show();
          }
          else {
            target.hide();
          }
        });
      }

      // Status filter
      var status_filter = $('#filter-filter-status').val();
      if (status_filter != 'na') {
        var filter = '.filter-filter-status-' + status_filter;
        $(".filterable").each(function() {
          var target = $(this);
          if (target.is(filter)) {
            target.find('td').show();
          }
          else {
            target.find('td').hide();
          }
        });
      }
    });
  });
</script>
